<!-- TOPBAR STARTS -->
<!-- <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

</head> -->
<div class="ax-topbar">
    <div class="ax-topbar__left">
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-solid fa-language"></i>
        <span style="color: rgba(102, 102, 102, 1);
        ">English</span>
    </div>
    <div class="ax-topbar__right">
        <span class="ax-topbar__right__dot">.</span>
        <h6>Tableau Free Trial </h6>
        <span class="ax-topbar__right__dot">.</span>
        <h6>Alteryx Free Trial</h6>
        <span class="ax-topbar__right__dot">.</span>
        <h6>Auraa Free Trial</h6>
        <app-button class="ax-topbar__right__btn" [icon]="'../../../../assets/images/flag/Group 13032.svg'"
            [text]="'schedule a call'" [backgroundColor]="'rgba(16,56,91,1)'" [textColor]="'#fff'"
            [width]="'112%'"></app-button>
    </div>
</div>
<!-- TOPBAR ENDS -->