@import "../../../../assets/scss/mixin.scss";

.ax-footer {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__overlay {
    top: 45px;
    position: relative;
    max-width: 1400px;
    background: rgba(29, 122, 208, 1);
    margin: 0 auto;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: sp;
    align-items: center;
    &__left {
      width: 80%;
      text-align: left;
      color: white;
      padding-left: 50px;
      padding-top: 15px;
    }
    &__right {
      width: 20%;
      margin-left: 50px;
    }
  }
}
.ax-footerbottom {
  width: 100%;
  background: linear-gradient(
    72.45deg,
    #23133f 9.81%,
    #08205c 50.72%,
    #01326a 93.38%
  );
  padding-left: 25px;
  padding-right: 25px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  color: white;
  &__wrapper{
    max-width: 1480px;
    margin: auto;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  }
  &__contents {
    margin-top: 65px;
    ul {
      list-style-type: none;
    }
    h6 {
      padding-bottom: 15px;
      font-size: 16px;
    }
    p {
      font-size: 14px;
      line-height: 15px;
    }
    img {
      margin-bottom: 30px;
    }
  }
}

@include mobile {
  .ax-footer__overlay {
    flex-wrap: wrap;
    &__left {
      h6,
      p {
        width: 100%;
        margin-left: 85px;
        font-size: 14px;
      }
    }
    &__right {
      input {
        margin-left: 85px;
        width: 240%;
      }
    }
  }
}
@include tablet {
  .ax-footer__overlay {
    flex-wrap: wrap;
    &__left {
      h6,
      p {
        margin-left: 150px;
        font-size: 14px;
      }
    }
    &__right {
      input {
        margin-left: 150px;
        width: 220%;
      }
    }
  }
}
