<div class="ax-footer">
  <app-footer-card
    [image]="'../../../../assets/images/flag/india.svg'"
    [heading]="'Beinex-India'"
    [addresslines]="[
      '#19,Ground level',
      'Infopark TBC,JNI stadium',
      'Kaloor,Kochi'
    ]"
    [phone]="'00000'"
    [email]="'info@beinex.com'"
  >
  </app-footer-card>
  <app-footer-card
    [image]="'../../../../assets/images/flag/qatar.svg'"
    [heading]="'Beinex-Qatar'"
    [addresslines]="[
      'Global Business Centre',
      'Hitmi village,Building NO 40',
      'Doha,Qatar'
    ]"
    [phone]="'00000'"
    [email]="'info@beinex.com'"
  >
  </app-footer-card>
  <app-footer-card
    [image]="'../../../../assets/images/flag/kenya.svg'"
    [heading]="'Beinex-Kenya'"
    [addresslines]="[
      'purushottam palace,7th floor',
      'Westlands road,Museum hill',
      'Nairobi,Kenya'
    ]"
    [phone]="'00000'"
    [email]="'info@beinex.com'"
  >
  </app-footer-card>
  <app-footer-card
    [image]="'../../../../assets/images/flag/uk.svg'"
    [heading]="'Beinex-United Kingdom'"
    [addresslines]="[
      'New Broad Street House',
      '35 Broad street',
      'London England EC2M'
    ]"
    [phone]="'00000'"
    [email]="'info@beinex.com'"
  >
  </app-footer-card>
  <app-footer-card
    [image]="'../../../../assets/images/flag/uae.svg'"
    [heading]="'Beinex-UAE'"
    [addresslines]="['506,BB01,Bay Square', 'Business Bay', 'Dubai,Abudhabi']"
    [phone]="'00000'"
    [email]="'info@beinex.com'"
  >
  </app-footer-card>
</div>
<div class="ax-footer__overlay">
  <div class="ax-footer__overlay__left">
    <h6>Subscribe To our Newsletter</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing ept, sed do eiusmod.
    </p>
  </div>
  <div class="ax-footer__overlay__right">
    <input type="text" placeholder="your email address" />
  </div>
</div>

<div class="ax-footerbottom">
  <div class="ax-footerbottom__wrapper">
    <article class="ax-footerbottom__contents">
      <img
        src="../../../../assets/images/flag/Group (5).svg"
        alt=""
        class="ax-footerbottom__contents__img"
      />

      <p>About Beinex</p>
      <p>Careers</p>
      <p>Press Releases</p>
      <p>Beinex in the news</p>
    </article>
    <article class="ax-footerbottom__contents">
      <h6 class="">Our Services</h6>

      <p>Advanced Analytics</p>
      <p>Ai/ML/RPA</p>
      <p>Alteryx APA</p>
      <p>Audit Analytics</p>
      <p>Beinex Digital</p>
      <p>Business Intelligence</p>
    </article>
    <article class="ax-footerbottom__contents">
      <h6>Our Services</h6>

      <p>Competitive Intelpgence</p>
      <p>Modern Cloud Analytics</p>
      <p>Alteryx APA</p>
      <p>Risk Analytics</p>
      <p>Tableau</p>
      <p>Tableau Services</p>
    </article>
    <article class="ax-footerbottom__contents">
      <h6 class="">Our Services</h6>

      <p>Advanced Analytics</p>
      <p>Ai/ML/RPA</p>
      <p>Alteryx APA</p>
      <p>Audit Analytics</p>
      <p>Beinex Digital</p>
      <p>Business Intelpgence</p>
    </article>
    <article class="ax-footerbottom__contents">
      <h6 class="">Our Industries</h6>

      <p>Finance</p>
      <p>Human Resources</p>
      <p>Procurement</p>
      <p>Sales</p>
    </article>
    <article class="ax-footerbottom__contents">
      <h6 class="">Our Partners</h6>

      <p>Tableau</p>
      <p>Alteryx</p>
      <p>Alteryx APA</p>
      <p>AURAA</p>
      <p>Amazon Web Services</p>
    </article>
    <article class="ax-footerbottom__contents">
      <h6 class="">Our Services</h6>

      <p>Microsoft Azure</p>
      <p>Snowflake</p>
      <p>Salesforce</p>
      <p>Alation</p>
    </article>
  </div>
</div>
