<div class="ax-offerings">
  <div class="wrapper">
    <h4>Beinex Industry Offerings</h4>
    <app-card [industry]="industry" [offerings]="offerings"></app-card>
    <div class="ax-offerings__button">
      <app-button
        class="ax-offerings__button"
        [text]="'Contact Us'"
        [icon]="'../../../../assets/images/flag/Group 7.svg'"
        [backgroundColor]="'rgba(4, 187, 242, 1)'"
        [textColor]="'#fff'"
        [width]="'150px'"
      >
      </app-button>
    </div>
  </div>
</div>
